<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/webjars/bootstrap/bootstrap.min.css" />
<title>Post Form</title>
</head>
<body>
	<section class="container">
		<h2>글쓰기</h2>
		<hr />
		<form method="post" action="post.html"
			th:action="@{${#httpServletRequest.servletPath}}">
			<fieldset class="form-group">
				<label for="formBookTitle">bookTitle</label>
				<input id="formBookTitle" type="text" class="form-control"
					name="bookTitle" th:field="${post.bookTitle}"
					placeholder="Title input" /> 
			</fieldset>
			<fieldset class="form-group">
				<label for="formContent">Content</label>
				<textarea id="formContent" class="form-control" name="content"
					rows="3" th:field="${post.content}"></textarea>
			</fieldset>
			<input type="submit" class="btn btn-primary" value="저장" />
		</form>
	</section>
	<script src="/webjars/jquery/jquery.min.js"></script> <!-- ① -->
	<script type="text/javascript"> <!-- ②  -->
		$('form').submit(function(event) { <!-- ③ -->
			$('form input:text, textarea').each(function() { <!-- ④ -->
				if (!($.trim($(this).val())).length) { <!-- ⑤ -->
					alert("모든 값을 입력해 주세요!");
					event.preventDefault();
					return false;
				}
			});
		});
	</script>
</body>
</html>
