<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/webjars/bootstrap/bootstrap.min.css" />
<title>On Spring Post List</title>
</head>
<body>
	<section class="container">
		<div th:each="post : ${postList}"> <!-- ① -->
			<h2 th:text="${post.bookTitle}">BookTitle</h2>
			<div th:text="${post.createdAt} ? ${#dates.format(post.createdAt, 'yyyy-MM-dd HH:mm:ss')}">CreatedAt</div>
			<a th:href="@{'/post/'+${post.id}}"> <!-- ② -->
				<button type="button" class="btn btn-primary">Read</button>
			</a>
		</div>
		<hr />
		<a th:href="@{'/'}">
			<button type="button" class="btn btn-info">Main</button>
		</a>
		<a th:href="@{'/post/write'}">
			<button type="button" class="btn btn-success">Write</button>
		</a>
	</section>
</body>
</html>
