<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/webjars/bootstrap/bootstrap.min.css" />
<title th:text="${post.bookTitle}">BookTitle</title>
</head>
<body>
	<section class="container">
		<article>
			<h2 th:text="${post.bookTitle}">BookTitle</h2>
			<hr />
			<div th:text="${post.content}">Content</div>
			<div th:text="${post.createdAt} ? ${#dates.format(post.createdAt, 'yyyy-MM-dd HH:mm:ss')}">CreatedAt</div>
		</article>
		<a th:href="@{'/post/list'}">
			<button type="button" class="btn btn-info">List</button>
		</a>
		<a th:href="@{/post/{postId}/edit(postId=${post.id})}">
			<button type="button" class="btn btn-warning">Edit</button>
		</a>
		<a th:href="@{'/post/'+${post.id}+'/delete'}" id="delete">
			<button type="button" class="btn btn-danger">Delete</button>
		</a>
	</section>
	<script src="/webjars/jquery/jquery.min.js"></script> <!-- ① -->
	<script type="text/javascript">
		$("#delete").click(function() { <!-- ② -->
			if (!confirm("정말로 삭제할까요?")) {
				return false;
			}
		});
	</script>
</body>
</html>
